<<<<<<< HEAD
<h1>These are some crazy turtles in this little pond</h1>
<%@turtles.each do |turtle|%>
<h3><%= turtle.first_name %></h3>
<% end %>
=======
<h1>These are some crazy turtles</h1>
>>>>>>> 1b4dfc23a51b125cee0b23bfc1341e4f5b3f76f7
