<<<<<<< HEAD
<h1>This is the "Burd Action" File</h1>
<%@turtles.each do |turtle|%>
<%= turtle.first_name %>
<% end %>
=======
<h1>Turtles#burdaction</h1>
<p>Find me in app/views/turtles/burdaction.html.erb</p>
>>>>>>> 1b4dfc23a51b125cee0b23bfc1341e4f5b3f76f7
